{% extends "template/layout.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}


{% for article in articles %}
    <li>
        {# essayer d'utiliser le $router->generate("nom_page") #}
        <a href="/article/{{ article.id}}/{{ article.slug }}">{{ article.titre }}</a>
    </li>
{% endfor %}


{% endblock %}