{% extends "template/layout.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

{% for company in companies %}
    <li>
        <a href="/company/{{ company.id }}">
            {% for el in company %}
                {{ el }}
            {% endfor %}
        </a>
    </li>
{% endfor %}

<h2>{{ time }}</h2>



{% endblock %}