{% extends "template/layout.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

{% for el in result %}
    <li>{{ el.name }} -- {{ el.age }} -- {{ el.height }}</li>
{% endfor %}

{% endblock %}