{% extends "template/layout.twig" %}
{% block body %}

	<div class="container-fluid d-flex justify-content-center align-items-center">
		<div>
			<img src="{{ asset('src/logo_horizontal.svg') }}" alt="main logo" id="logo">
			<div id="description" class="mt-5 d-flex justify-content-center">
            Welcome to your TimePHP application
         </div>
			<div id="links" class="mt-5 d-flex justify-content-center">
				<ul>
					<li>Get started</li>
					<li>bvonjour</li>
					<li>bvonjour</li>
					<li>bvonjour</li>
				</ul>
			</div>
         <div id="github" class="mt-5 d-flex justify-content-center">
            <a href="#">
               <img src="{{ asset('src/github_logo/github-logo.svg') }}" alt="github logo">
            </a>
         </div>
		</div>
	</div>

{% endblock %}
