{% extends "template/layout.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

{% for user in users %}
    <li>
        {# essayer d'utiliser le $router->generate("nom_page") #}
        <a href="/user/{{ user.id }}">{{ user.prenom }} {{ user.nom }}</a>
    </li>
{% endfor %}

{% endblock %}