{% extends "template/layout.twig" %}
{% block body %}

   {# <ul>
   {% for user in users %}
      <li>{{ user.username }}</li>
   {% endfor %}
   </ul> #}

   <h1>{{ message }}</h1>

   {# {{ test() }} #}

{% endblock %}